$col2: #635985;
$col1: #443C68;
$col3: #393053;
$col4: #18122B;

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Styling Page */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  float: left;
  background-color: $col1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

#quote-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60vw;
  height: 70vh;
  background-color: $col2;
  border-radius: 25px;
}

#quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 50px;
  font-size: 16px;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  vertical-align: center;
  margin: 0 0 25px 0;
}

#text {
  font-size: 2em;
  color: $col4;
  text-align: center;
}

#author {
  font-size: 1.6em;
  color: $col3;
}

/* Nav */

#nav {
  display: flex;
  flex-direction: row;
  vertical-align: baseline;
  height: 100px;
}

#button-div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#share {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#share a {
  margin: 0 5px;
}

/* Button */

#new-quote {
  background-color: $col3;
  color: $col4;
  border: none;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
}

#new-quote:hover {
  background-color: $col4;
  color: $col3;
}

#new-quote:active {
  height: 55px;
  width: 205px;
}

/* Font Awesome Icons */

.quote-ico {
  color: $col3;
}

.share-ico {
  color: $col3;
  font-size: 30px;
}

.share-ico:hover {
  color: $col4;
}

@media (max-width: 1050px) {
  #quote {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  #quote {
    font-size: 12px;
  }

  #nav {
    flex-direction: column;
    justify-content: space-between;
  }

  #button-div {
    flex: 2;
  }
}